*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
}


.auth-container{
   width: 300px;
   box-shadow: 0 0 3px 0 rgba(0,0,0,0.35);
   background: #fff;
   margin: 8% auto 0;
   text-align: center;
}

.auth-container h1{
    color: #1AA3AF;
    font-size: 30px;
    margin-bottom: 30px;
}

.auth-container label{
    text-align: left;
    color: #1AA3AF;
    font-size: 20px;
}

.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}

.auth-container button{
    color: white;
    background-color: #1AA3AF;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    margin: 10px 0;
    border: 1px solid #1AA3AF;
    outline: none;
    cursor: pointer;
}

.auth-container hr{
    margin-top: 20px;
    width: 80%;
}
.sign-btn{
    /* Currently it's of no use */
    background-color: white;
    
}

.p-class{
   margin-top: 10px;
   margin-bottom: 10px;
}

.nav-link{
    color: #1AA3AF;
}